*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}

.container {
  background: pink;
  height: 50vh;
  width: 80vw;
  padding: 0.5em;
  margin: 25vh auto 0;
}

.row {
  display: flex;
}

.item {
  background: lightblue;
  margin: 0.5em;
}

.one {
  flex: 1 1 300px;
}
.two {
  flex: 1 1 300px;
}
.three {
  flex: 1 0 300px;
}
