/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-conent to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 * You may modify the HTML if needed
 *
 */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #23424a;
  color: white;
  padding: 5rem 5rem 15rem 5rem;

  width: 80%;
  /* Limitando a largura para que o elemento n cresça infinitamente com a tela */
  max-width: 750px;
  margin: 0 auto;
}

.intro-content {
  width: 50%;
}

.intro-content > h1 {
  font-size: 2.8rem;
}
.intro-content > p {
  font-size: 1.6rem;
}
